.all {
  max-width: 1350px;
  margin-top: 0 auto;
}

#gazou {
  position: relative;
  left: 10px;
}

.btn-all {
  position: absolute;
  top: 600px;
  font-size: 25px;
  left: 45px;
  font-weight: bold;
}

#btn1 {
  display: block;
  margin: 10px;
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  border-radius: 10%;
  }

  #btn1:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
  }

#btn2 {
  display: block;
  margin: 10px;
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  border-radius: 10%;
  }

  #btn2:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
  }

#btn3 {
  display: block;
  margin: 10px;
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  border-radius: 10%;
  }

  #btn3:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
  }
  
  .container {
    font-size: 0; /* ボタンの余白をなくす */
  }
  
  
  #board {
    position: absolute;
    bottom: 1rem;
    top: 65px;
    left: 410px;
    /* 配置 */
    margin: 5rem auto;
    
    /* サイズ */
    width: 40rem;
    height: 40rem;
    
    /* 色 */
    background-color:gray;
    outline: 1.5rem solid;
    outline-color: gray;
  }
  
  .square {
    /* サイズ */
    width: 5rem;
    height: 5rem;
    
    /* 色 */
    background-color: green;
    box-shadow: none !important;
  
    /* フォントサイズ */
    font-size: 2.5rem;
  }
  
  .square[data-owner="black"] {
    color: black;
  }
  
  .square[data-owner="white"] {
    color: white;
  }
  
  .cant-select {
    background-color: green !important;
  }
  
  #controller {
    /* 配置 */
    position: fixed;
    top: 1rem;
    left: 1rem;
  }

  #hifumin {
    position: absolute;
    margin-left: 1100px;
    top: 450px;
  }

  .button{
    /* color type A */
    --main_color : #C24F3C ;
    --sub_color : #D3B171  ;
    --base_color : #F7F3EA ;
    --accent_color : #8EC0C9 ;

    /* color type B */
    /* --main_color : #161058 ;
    --sub_color : #E3C3C4  ;
    --base_color : #FFFFFF ;
    --accent_color : #B2626F ; */

    /* color type C */
    /* --main_color : #92001B ;
    --sub_color : #F2F2F2  ;
    --base_color : #FFFFFF ;
    --accent_color : #B08E00 ; */
}

.button{
    position : relative ;
    bottom:110px;
    left: 1150px;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 250px ;
    height : 60px ;
    text-decoration : none ;
    font-size : 20px ;
    font-family : serif ; 
    font-weight : bold ;
    box-sizing : border-box ;
    border : solid 3px var(--main_color) ;
    color : var(--main_color) ;
    background : var(--base_color) ;
}
.button::before,
.button::after{
    content : '' ;
    position : absolute ;
    z-index : 3 ;
    right : 24px ;
    width : 10px ;
    height : 3px ;
    background : var(--main_color) ;
    transition : all .2s ease ;
}
.button::before{
    top : calc( 50% - 4px ) ;
    transform : skew( 45deg ) ; 
}
.button::after{
    bottom : calc( 50% - 4px ) ;
    transform : skew( -45deg ) ; 
}
.button__cloud1,
.button__cloud2{
    position : absolute ;
    z-index : 4 ;
    width : 8px ;
    height : 8px ;
    background : var(--sub_color) ;
    transition : all ease-in-out .6s ;
    opacity : 0 ;
}
.button__cloud1{
    top : -4px ;
    left : -48px ;
}
.button__cloud2{
    bottom : -4px ;
    right : -48px ;
}
.button__cloud1::before,
.button__cloud1::after,
.button__cloud2::before,
.button__cloud2::after{
    content : '' ;
    position : absolute ;
    width : 48px ;
    height : 8px ;
    border-radius : 4px ;
    background : var(--sub_color) ;
}
.button__cloud1::before{
    top : -8px ;
    left : -16px ;
}
.button__cloud1::after{
    bottom : -8px ;
    right : -12px ;
}
.button__cloud2::before{
    top : -8px ;
    left : -24px ;
}
.button__cloud2::after{
    bottom : -8px ;
    right : -24px ;
}
.button__inner{
    position : relative ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : calc( 100% - 4px ) ;
    height : calc( 100% - 4px ) ;
    box-sizing : border-box ;
    border : solid 1px var(--main_color) ;
}
.button__inner::before{
    content : '' ;
    position : absolute ;
    z-index : 2 ;
    top : 0 ;
    right : 2px ;
    bottom : 0 ;
    margin : auto 0 ;
    width : 0 ;
    height : calc( 100% - 4px ) ;
    background : var(--main_color) ;
}
.button__pattern{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 2px ;
    bottom : 0 ;
    margin : auto 0 ;
    width : 40px ;
    height : calc( 100% - 4px ) ;
    opacity : 0 ;
    background-color : var(--accent_color) ;
    background-image :  repeating-linear-gradient(45deg, var(--base_color) 25%, transparent 25%, transparent 75%, var(--base_color) 75%, var(--base_color)), repeating-linear-gradient(45deg, var(--base_color) 25%, var(--accent_color) 25%, var(--accent_color) 75%, var(--base_color) 75%, var(--base_color));
    background-position : 0 0 , 8px 8px ;
    background-size : 16px 16px ;
}
.button__text{
    position : relative ;
    z-index : 3 ;
    transition : all .6s ease ;
}
.button:hover::before,
.button:hover::after{
    background : var(--base_color) ;
}
.button:hover .button__cloud1{
    left : -8px ;
    opacity : 1 ;
}
.button:hover .button__cloud2{
    right : -8px ;
    opacity : 1 ;
}
.button:hover .button__text{
    color : var(--base_color) ;
}
.button:hover .button__inner::before{
    animation : bg 1.2s ease ;
    animation-fill-mode : forwards ;
}
.button:hover .button__inner::before{
    animation : bg 1.2s ease ;
    animation-fill-mode : forwards ;
}
.button:hover .button__pattern{
    animation : pattern 1.2s ease ;
    animation-fill-mode : forwards ;
}
@keyframes bg {
    0%  { width : 0 ; }
    30% { width : calc( 100% - 4px ) ; }
    50% { width : calc( 100% - 4px ) ; }
    100%{ width : calc( 100% - 40px - 6px ) ; }
}
@keyframes pattern {
    0%  { opacity : 0 ; }
    30% { opacity : 0 ; }
    31% { opacity : 1 ; }
    100%{ opacity : 1 ; }
}

#taisen {
  position: absolute;
  bottom: 290px;
  left: 50px;
}

#wld {
  position: absolute;
  bottom: 400px;
  left: 95px;
}

#clear {
  margin: 20px;
  margin-left: 60px;
}

#recordDisplay {
  font-weight: bold;
}

#fujii {
  position: absolute;
  margin-left: 1100px;
  top: 120px;
}

.button1{
  /* color type A */
  --main_color : #C24F3C ;
  --sub_color : #D3B171  ;
  --base_color : #F7F3EA ;
  --accent_color : #8EC0C9 ;

  /* color type B */
  /* --main_color : #161058 ;
  --sub_color : #E3C3C4  ;
  --base_color : #FFFFFF ;
  --accent_color : #B2626F ; */

  /* color type C */
  /* --main_color : #92001B ;
  --sub_color : #F2F2F2  ;
  --base_color : #FFFFFF ;
  --accent_color : #B08E00 ; */
}

.button1{
  position : relative ;
  bottom:600px;
  left: 1100px;
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 250px ;
  height : 60px ;
  text-decoration : none ;
  font-size : 20px ;
  font-family : serif ; 
  font-weight : bold ;
  box-sizing : border-box ;
  border : solid 3px var(--main_color) ;
  color : var(--main_color) ;
  background : var(--base_color) ;
}
.button1::before,
.button1::after{
  content : '' ;
  position : absolute ;
  z-index : 3 ;
  right : 24px ;
  width : 10px ;
  height : 3px ;
  background : var(--main_color) ;
  transition : all .2s ease ;
}
.button1::before{
  top : calc( 50% - 4px ) ;
  transform : skew( 45deg ) ; 
}
.button1::after{
  bottom : calc( 50% - 4px ) ;
  transform : skew( -45deg ) ; 
}
.button__cloud2,
.button__cloud3{
  position : absolute ;
  z-index : 4 ;
  width : 8px ;
  height : 8px ;
  background : var(--sub_color) ;
  transition : all ease-in-out .6s ;
  opacity : 0 ;
}
.button__cloud2{
  top : -4px ;
  left : -48px ;
}
.button__cloud3{
  bottom : -4px ;
  right : -48px ;
}
.button__cloud2::before,
.button__cloud2::after,
.button__cloud3::before,
.button__cloud3::after{
  content : '' ;
  position : absolute ;
  width : 48px ;
  height : 8px ;
  border-radius : 4px ;
  background : var(--sub_color) ;
}
.button__cloud2::before{
  top : -8px ;
  left : -16px ;
}
.button__cloud2::after{
  bottom : -8px ;
  right : -12px ;
}
.button__cloud3::before{
  top : -8px ;
  left : -24px ;
}
.button__cloud3::after{
  bottom : -8px ;
  right : -24px ;
}
.button__inner1{
  position : relative ;
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : calc( 100% - 4px ) ;
  height : calc( 100% - 4px ) ;
  box-sizing : border-box ;
  border : solid 1px var(--main_color) ;
}
.button__inner1::before{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  right : 2px ;
  bottom : 0 ;
  margin : auto 0 ;
  width : 0 ;
  height : calc( 100% - 4px ) ;
  background : var(--main_color) ;
}
.button__pattern1{
  position : absolute ;
  z-index : 1 ;
  top : 0 ;
  left : 2px ;
  bottom : 0 ;
  margin : auto 0 ;
  width : 40px ;
  height : calc( 100% - 4px ) ;
  opacity : 0 ;
  background-color : var(--accent_color) ;
  background-image :  repeating-linear-gradient(45deg, var(--base_color) 25%, transparent 25%, transparent 75%, var(--base_color) 75%, var(--base_color)), repeating-linear-gradient(45deg, var(--base_color) 25%, var(--accent_color) 25%, var(--accent_color) 75%, var(--base_color) 75%, var(--base_color));
  background-position : 0 0 , 8px 8px ;
  background-size : 16px 16px ;
}
.button__text1{
  position : relative ;
  z-index : 3 ;
  transition : all .6s ease ;
}
.button1:hover::before,
.button1:hover::after{
  background : var(--base_color) ;
}
.button1:hover .button__cloud1{
  left : -8px ;
  opacity : 1 ;
}
.button1:hover .button__cloud2{
  right : -8px ;
  opacity : 1 ;
}
.button1:hover .button__text{
  color : var(--base_color) ;
}
.button1:hover .button__inner::before{
  animation : bg 1.2s ease ;
  animation-fill-mode : forwards ;
}
.button1:hover .button__inner::before{
  animation : bg 1.2s ease ;
  animation-fill-mode : forwards ;
}
.button1:hover .button__pattern{
  animation : pattern 1.2s ease ;
  animation-fill-mode : forwards ;
}
@keyframes bg {
  0%  { width : 0 ; }
  30% { width : calc( 100% - 4px ) ; }
  50% { width : calc( 100% - 4px ) ; }
  100%{ width : calc( 100% - 40px - 6px ) ; }
}
@keyframes pattern {
  0%  { opacity : 0 ; }
  30% { opacity : 0 ; }
  31% { opacity : 1 ; }
  100%{ opacity : 1 ; }
}